<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cim</title>
    <link href="{{ req_path }}/static/main.css" rel="stylesheet">
    <link href="{{ req_path }}/theme/styles.css" rel="stylesheet">
    <link rel="icon" href="{{ req_path }}/theme/favicon.png">
</head>

<body class="theme-body">
    <div class="theme-navbar">
        <div class="theme-navbar__logo-wrap">
            <img class="theme-navbar__logo" src="{{ req_path }}/theme/logo.png">
        </div>
    </div>

    <div class="dex-container">
        <div class="theme-panel">
            <h1 class="theme-heading">
                Cim Login
            </h1>
            <form method="post" action="{{ post_url }}">
                <div class="theme-form-row">
                    <div class="theme-form-label">
                        <label for="userid">{{ prompt }}</label>
                    </div>
                    <input tabindex="1" required id="subject" name="subject" type="text" class="theme-form-input"
                        placeholder="{{ prompt }}" {% if username.len() !=0 %} value="{{ username }}" {% else %}
                        autofocus {% endif%}} />
                </div>
                <div class="theme-form-row">
                    <div class="theme-form-label">
                        <label for="password">Password</label>
                    </div>
                    <input tabindex="2" required id="password" name="password" type="password" class="theme-form-input"
                        placeholder="password" {% if invalid %} autofocus {% endif %} />
                </div>
                {% if invalid %}
                <div id="login-error" class="dex-error-box">
                    Invalid {{ prompt }} and password.
                </div>
                {% endif %}
                <button tabindex="3" id="submit-login" type="submit" class="dex-btn theme-btn--primary">Login</button>
            </form>
            {% if connectors.len() !=0 %}
            <div>
                {% for connector in connectors %}
                <div class="theme-form-row">
                    <a href="{{ connector.url }}" target="_self">
                        <button class="dex-btn theme-btn-provider">
                            <span class="dex-btn-icon dex-btn-icon--{{ connector.logo }}"></span>
                            <span class="dex-btn-text">{{ connector.name }}</span>
                        </button>
                    </a>
                </div>
                {% endfor %}
            </div>
            {% endif %}
        </div>
    </div>
</body>

</html>