<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <title>{{ issuer }}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="icon" href="static/favicon.png">
</head>

<body class="theme-body">
  <div class="dex-container">
    <div class="theme-panel">
      <h2 class="theme-heading">Grant Access</h2>

      <hr class="dex-separator">
      <div>
        {% if scopes.len() !=0 %}
        <div class="dex-subtle-text">{{ client }} would like to:</div>
        <ul class="dex-list">
          {% for scope in scopes %}
          <li>{{ scope }}</li>
          {% endfor %}
        </ul>
        {% else %}
        <div class="dex-subtle-text">{{ client }} has not requested any personal information</div>
        {% endif %}
      </div>
      <hr class="dex-separator">

      <div>
        <div class="theme-form-row">
          <form method="post" action="/approval">
            <input type="hidden" name="req" value="{{ req }}" />
            <input type="hidden" name="approval" value="approve">
            <input type="hidden" name="hmac" value={{ hmac }}>
            <button type="submit" class="dex-btn theme-btn--success">
              <span class="dex-btn-text">Grant Access</span>
            </button>
          </form>
        </div>
        <div class="theme-form-row">
          <form method="post" action="/approval">
            <input type="hidden" name="req" value="{{ req }}" />
            <input type="hidden" name="approval" value="rejected">
            <input type="hidden" name="hmac" value={{ hmac }}>
            <button type="submit" class="dex-btn theme-btn-provider">
              <span class="dex-btn-text">Cancel</span>
            </button>
          </form>
        </div>
      </div>

    </div>

  </div>
</body>

</html>
